<div style="padding: 20px;">
    <lib-ng-query-builder #NgQueryBuilder [Filters]="Filters" (AfterAddGroup)="AfterAddGroup($event)"
        (AfterAddRule)="AfterAddRule($event)" (AfterApplyGroupFlags)="AfterApplyGroupFlags($event)"
        (AfterApplyRuleFlags)="AfterApplyRuleFlags($event)" (AfterClear)="AfterClear($event)"
        (AfterCreateRuleFilters)="AfterCreateRuleFilters($event)" (AfterCreateRuleInput)="AfterCreateRuleInput($event)"
        (AfterCreateRuleOperators)="AfterCreateRuleOperators($event)" (AfterDeleteGroup)="AfterDeleteGroup($event)"
        (AfterDeleteRule)="AfterDeleteRule($event)" (AfterInit)="AfterInit($event)" (AfterReset)="AfterReset($event)"
        (AfterSetRules)="AfterSetRules($event)" (AfterUpdateGroupCondition)="AfterUpdateGroupCondition($event)"
        (AfterUpdateRuleFilter)="AfterUpdateRuleFilter($event)"
        (AfterUpdateRuleOperator)="AfterUpdateRuleOperator($event)"
        (AfterUpdateRuleValue)="AfterUpdateRuleValue($event)" (BeforeAddGroup)="BeforeAddGroup($event)"
        (BeforeAddRule)="BeforeAddRule($event)" (BeforeClear)="BeforeClear($event)"
        (BeforeDeleteGroup)="BeforeDeleteGroup($event)" (BeforeDeleteRule)="BeforeDeleteRule($event)"
        (BeforeDestroy)="BeforeDestroy($event)" (BeforeReset)="BeforeReset($event)"
        (RulesChanged)="RulesChanged($event)" (ValidationError)="ValidationError($event)"></lib-ng-query-builder>
</div>

<div style="padding: 20px; padding-top: 0px;">
    <div nz-row [nzGutter]="[16, 16]">
        <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="3"><button nz-button nzType="primary" nzBlock
                (click)="Clear()">Clear</button></div>
        <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="3"><button nz-button nzType="primary" nzBlock
                (click)="Reset()">Reset</button></div>
        <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="3"><button nz-button nzType="primary" nzBlock
                (click)="GetModel()">GetModel</button></div>
        <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="3"><button nz-button nzType="primary" nzBlock
                (click)="LogJSON()">LogJSON</button></div>
    </div>
</div>

<div class="EventLogsContainer">
    <h3 style="margin-top: 0px; padding-top: 0px;">Event Logs</h3>
    <div *ngFor="let log of EventLogs.reverse()" class="LogContainer" [style.backgroundColor]="log.eventColor">
        <span>{{log.eventName}}</span><span class="OpenFullLogSpan" (click)="OpenFullLog(log)">Open Full Log</span>
    </div>
</div>

<nz-modal [(nzVisible)]="ShowFullLog" [nzTitle]="ModalTitle" (nzOnCancel)="HideFullLog()" (nzOnOk)="HideFullLog()"
    nzWidth="90%" nzCentered>
    <ng-container *nzModalContent>
        <div style="width: 100%; max-height: 70vh; overflow: auto;">
            <ngx-json-viewer [json]="LatestLog"></ngx-json-viewer>
        </div>
    </ng-container>
</nz-modal>